<template name="bookmarks">
  <div class="page bookmarks">
    {{> nav title='Tus Clientes' subtext=recipeCount}}

    <div class="content-scrollable">
      <div class="list-recipes">
        {{#each this}}
          {{> recipeItem recipe=this size='large'}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No existen clientes aun</div>
            <div class="subtitle-message">Haz clic aca para registrar clientes <a href="{{pathFor 'home'}}">Inicio</a></div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>